:root {
  --connected-color: seagreen;
  --connected-id-color: darkgray;
  --connected-font-size: 12px;
}

.conn-status {
  position: fixed;
  bottom: -5px;
  left: 5px;
  font-size: var(--connected-font-size);
  padding: 5px 10px;
}

.conn-status .connected {
  color: var(--connected-color);
}

.conn-status span {
  color: var(--connected-id-color);
}