.square {
  width: 25px;
  aspect-ratio: 1/1;
  background-color: #424242;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 8px;
  color: transparent;
}

.square:hover {
  border: 1px solid #848484;
}

.square.active {
  background-color: steelblue;
  /* color: hsl(207, 44%, 34%); */
  animation: activatedSquare 0.5s ease 0s forwards;
}

.header {
  /* visibility: hidden; */
  border: none;
  background-color: transparent;
  color: #848484;
  font-size: 12px;
}

@keyframes activatedSquare {
  0% {
    background-color: #424242;
    /* transform: scale(0) rotate(180deg); */
    transform: scale(0);
  }
  50% {
    background-color: #3a6284;
    /* transform: scale(1.5) rotate(90deg); */
    transform: scale(1.25);
  }
  100% {
    background-color: steelblue;
    /* transform: scale(1) rotate(0deg); */
    transform: scale(1);
  }
}