:root {
  --square-bg-color: #424242;
  --square-bg-color-hover: #636363;
  --square-color: transparent;
  --square-border-color: transparent;
  --square-active-bg-color: steelblue;
  --header-color: #848484;
  --header-font-size: 11px;

  --sq-small-size: 25px;
  --sq-big-size: 30px;
}

.square {
  width: var(--sq-small-size);
  aspect-ratio: 1/1;
  background-color: var(--square-bg-color);
  border: 1px solid var(--square-border-color);
  border-radius: 4px;
  cursor: pointer;
  color: var(--square-color);
  user-select: none;
}

.square:hover {
  border: 1px solid var(--square-bg-color-hover);
}

.square.active {
  background-color: var(--square-active-bg-color);
  animation: activatedSquare 0.5s ease 0s forwards;
}

.header {
  border: none;
  background-color: transparent;
  color: var(--header-color);
  font-size: var(--header-font-size);
  cursor: initial;
}

.square.header:hover {
  border: none;
  cursor: initial;
}

@keyframes activatedSquare {
  0% {
    background-color: var(--square-bg-color);
    transform: scale(0);
  }
  50% {
    background-color: color-mix(in srgb, var(--square-bg-color), var(--square-active-bg-color));
    transform: scale(1.25);
  }
  100% {
    background-color: var(--square-active-bg-color);
    transform: scale(1);
  }
}

@media screen and (min-width: 1000px) {
  .square {
    width: var(--sq-big-size);
  }
}