:root {
  --sq-small-size: 25px;
  --gap-small-size: 4px;
  --sq-big-size: 30px;
  --gap-big-size: 6px;
}

.board {
  display: flex;
  flex-flow: row wrap;
  width: calc(11*var(--sq-small-size) + 10*var(--gap-small-size));
}

.header-top {
  flex: 1 1 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: var(--gap-small-size);
  margin-bottom: var(--gap-small-size);
}

.header-left {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--gap-small-size);
  margin-right: var(--gap-small-size);
}

.droppable-board {
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  box-sizing: border-box;
  width: calc(10*var(--sq-small-size) + 9*var(--gap-small-size));
  gap: var(--gap-small-size);
}

@media screen and (min-width: 1000px) {
  .board {
    grid-row: 2 / 8;
    grid-column: 1 / 6;
    align-self: center;
    justify-self: center;
    width: calc(11*var(--sq-big-size) + 10*var(--gap-big-size));
  }

  .header-top {
    gap: var(--gap-big-size);
    margin-bottom: var(--gap-big-size);
  }
  
  .header-left {
    gap: var(--gap-big-size);
    margin-right: var(--gap-big-size);
  }
  
  .droppable-board {
    width: calc(10*var(--sq-big-size) + 9*var(--gap-big-size));
    gap: var(--gap-big-size);
  }
}