.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  transform: translateX(-10px);
}

.board-row {
  display: flex;
  gap: 4px;
}

@media screen and (min-width: 1000px) {
  .board {
    grid-row: 2 / 8;
    grid-column: 1 / 6;
  }
}