.board {
  display: flex;
  flex-flow: row wrap;
}

.header-top {
  flex: 1 1 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.header-left {
  display: flex;
  flex-flow: column nowrap;
}

.droppable-board {
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  box-sizing: border-box;
}

@media screen and (min-width: 1000px) {
  .board {
    grid-row: 2 / 8;
    grid-column: 1 / 6;
    align-self: center;
    justify-self: center;
  }
}