:root {
  --winner-msg-bg-color: seagreen;
  --winner-msg-color: #e3e3e3;
  --winner-msg-shadow-color: black;
}

.winner-message-container {
  position: absolute;
  z-index: 10;
  top: 200px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.winner-message {
  padding: 1em 0;
  background-color: var(--winner-msg-bg-color);
  color: var(--winner-msg-color);
  min-width: 280px;
  max-width: 320px;
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 50px 5px var(--winner-msg-shadow-color);
}

.winner-message p {
  margin: 0.5em;
}