:root {
  --invalid-color: hotpink;
  --valid-color: lightgreen;
  --message-font-size: 12px;
  --label-color: #ababab;
  --label-font-size: 14px;
}

.text-input {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  margin-bottom: 30px;
}

.text-input label {
  text-align: left;
  margin-bottom: 6px;
  color: var(--label-color);
  font-size: var(--label-font-size);
}

.text-input input {
  padding: 1ch 1.5ch;
}

.text-input .message {
  margin: 4px 0;
  padding: 0 6px;
  
  font-size: var(--message-font-size);

  position: absolute;
  right: 0;
  bottom: -4ch;
}

.text-input .input-error.message {
  color: var(--invalid-color);
}

.text-input .input-valid.message {
  color: var(--valid-color);
}

.check-icon {
  vertical-align: -1px;
}