.text-input {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  margin-bottom: 30px;
}

.text-input label {
  text-align: left;
  margin-bottom: 6px;
  color: #ababab;
  font-size: 14px;
}

.text-input input {
  padding: 1ch 1.5ch;
}

.text-input .message {
  margin: 4px 0;
  padding: 0 6px;
  
  font-size: 12px;

  position: absolute;
  right: 0;
  bottom: -4ch;
}

.text-input .input-error.message {
  color: hotpink;
}

.text-input .input-valid.message {
  color: lightgreen;
}

.check-icon {
  vertical-align: -1px;
}