#root {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

.formPlayer {
  padding: 20px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.formPlayer button {
  padding: 10px 20px;
  width: fit-content;
  align-self: center;
  margin-top: 20px;
  cursor: pointer;
}