#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.formPlayer {
  /* border: 1px solid gray; */
  margin: 100px 0;
  padding: 20px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formPlayer input {
  padding: 5px 10px;
}

.formPlayer label {
  text-align: left;
}

.formPlayer button {
  padding: 10px 20px;
  width: fit-content;
  align-self: center;
}