.player-pieces {
  /* display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 25%); */
  width: 350px;
  /* min-width: calc(30px * 3.5 * 2); */

  /* background-color: #303030; */
  margin: 0 10px;

  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
}